<%= render "shared/header"%>
<div class='main'>
  <div>
    メインビジュアルをここに
  </div>
  <section>
    <h2>お知らせ</h2>
    <ul>
      <li>最新情報1</li>
      <li>最新情報2</li>
      <!-- 他のお知らせをリストアップ -->
    </ul>
  </section>
</div>
<%# mainここまで %>


<%# <%= render "shared/footer" %>
